.find-a-cruise-h3{
	margin-top:5px;
}

.footer-search .find-a-cruise-h3{
	color:#838faf;
}

.od-form-wrapper {
	max-width: 100%;
	margin: 0;
	
}
.od-form-wrapper .searchformHeadline {
	font-size: 24px;
	font-weight: 500;
	color: #A4B1C4;
}
.od-form-wrapper .searchformHeadline span {
	font-size: 14px;
	float: right;
	text-align: right;
	padding-right: 5px;
}

.od-input-wrapper.od-one-third-width {
    width: 50%;
    margin: 5px 20px 10px 0;
    position: relative;
  
}

.od-input-main-wrapper {
	display: inline-flex;
    width: calc(100% - 160px);
}

.multiselect {
	background: #fff;
    border-bottom: 1px solid rgba(1, 44, 92, 0.37);
    padding-left: 0;
    font-size: 1rem;
    margin-right: 15px;
    box-sizing: border-box;
   
}

.footer-search .multiselect{
	background: transparent;
}

#odysseus #OVExploreContainer .od-form-wrapper .multiselect__tags {
	background: none !important;
	border: none !important;
	font-size: 1rem !important;
	padding-left: 0 !important;
}

.multiselect__input, .multiselect__single,
#odysseus #OVExploreContainer .od-form-wrapper .multiselect__tags .multiselect__placeholder {
	color: #022658 !important;
	font-size:20px;
	
}


.footer-search .multiselect__input, .multiselect__single,
#odysseus #OVExploreContainer .od-form-wrapper .multiselect__tags .multiselect__placeholder {
	color:#fff !important;
}

.multiselect__select:before {
	border-color: rgba(1, 44, 92, 0.37) transparent transparent !important;
}

.footer-search .multiselect__select:before {
	border-color: #fff !important;
}


.multiselect__tag {
	background: #21326C !important;
}

.departurePortCode,
.cruiselineId,
.shipId {
	display: none;
}

.od-btn-main-wrapper {
	display: inline-flex;
    width: 150px;
    text-align: right;
}

#odysseus #OVExploreContainer .od-button-wrapper {
	width: 100% !important;
	padding: 0 !important;
}

#SearchBTN {
    background: #1d336d;
    
    font-size: 16px;
    font-weight: 400;
    width: 150px;
    padding: .625rem 1rem;
    margin: 0;
   
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.footer-search #SearchBTN {
	background: #fff;
	color:#012c5c;
}


@media (max-width: 991px) {
	.od-form-wrapper {
		width: 360px;
	}
	.od-input-main-wrapper {
		display: block;
		width: 100%;
	}
	.od-btn-main-wrapper {
		display: block;
		width: 100%;
		text-align: left;
	}
	.od-input-wrapper.od-one-third-width {
		margin: 20px 0;
	}
}
